temp2/main/default/flows/Questions_to_Ask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Questions to Ask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Questions to Ask_add5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_ID</name>
        <label>Get Account ID</label>
        <locationX>355</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X10_questions_to_ask</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client_Phone_Number</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLanguage</assignToReference>
            <field>Language__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Customer_Info</name>
        <label>Customer Info</label>
        <locationX>197</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_ID</targetReference>
        </connector>
        <fields>
            <name>Client_Phone_Number</name>
            <dataType>String</dataType>
            <fieldText>Client Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X10_questions_to_ask</name>
        <label>10 questions to ask</label>
        <locationX>519</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccountID</elementReference>
            </defaultValue>
            <fieldText>Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContactID</elementReference>
            </defaultValue>
            <fieldText>Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Language_he_she_speaks</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varLanguage</elementReference>
            </defaultValue>
            <fieldText>Language he/she speaks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Questions</name>
            <fieldText>&lt;p&gt;10 Questions :&lt;/p&gt;&lt;p&gt;1. What Makes You Unique?&lt;/p&gt;&lt;p&gt;2. What are some random fun facts about you?&lt;/p&gt;&lt;p&gt;3. What’s Something You Want to Learn or Wish You Were Better At?&lt;/p&gt;&lt;p&gt;4. Would You Rather?&lt;/p&gt;&lt;p&gt;5. Know Any Good Jokes?&lt;/p&gt;&lt;p&gt;6. What’s Something That Bugs You?&lt;/p&gt;&lt;p&gt;7. What’s the Most Embarrassing Thing You Can Remember That’s Happened to You?&lt;/p&gt;&lt;p&gt;8. What’s Your Favorite Place on Earth?&lt;/p&gt;&lt;p&gt;9. Who Are the Special People in Your Life?&lt;/p&gt;&lt;p&gt;10.What’s Something You’re Proud of?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ABC_Mart&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language_he_she_speaks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>English</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Questions_fr</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;10 Questions(French):&lt;/p&gt;&lt;p&gt;1. Qu&apos;est-ce qui vous rend unique?&lt;/p&gt;&lt;p&gt;2. Quels sont les faits amusants qui vous concernent?&lt;/p&gt;&lt;p&gt;3. À quoi voulez-vous apprendre ou souhaitez-vous mieux?&lt;/p&gt;&lt;p&gt;4. Le préférez-vous?&lt;/p&gt;&lt;p&gt;5. Connaissez-vous de bonnes blagues?&lt;/p&gt;&lt;p&gt;6. Qu&apos;est-ce qui vous dérange?&lt;/p&gt;&lt;p&gt;7. Quelle est la chose la plus embarrassante dont vous vous souvenez qui vous soit arrivée?&lt;/p&gt;&lt;p&gt;8. Quel est votre endroit préféré sur Terre?&lt;/p&gt;&lt;p&gt;9. Qui sont les personnes spéciales dans votre vie?&lt;/p&gt;&lt;p&gt;10. De quoi êtes-vous fier?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;$Label.c.ABC_Mart&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Label.c.ABC_Mart}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language_he_she_speaks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>French</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Questions_sp</name>
            <fieldText>&lt;p&gt;1. Qué te hace único?&lt;/p&gt;&lt;p&gt;2. Cuáles son algunos datos divertidos al azar sobre ti?&lt;/p&gt;&lt;p&gt;3. Qué es algo en lo que quieres aprender o en lo que deseas ser mejor?&lt;/p&gt;&lt;p&gt;4. Prefieres?&lt;/p&gt;&lt;p&gt;5. Conoces algún buen chiste?&lt;/p&gt;&lt;p&gt;6. Qué es algo que te molesta?&lt;/p&gt;&lt;p&gt;7. Cuál es la cosa más vergonzosa que puedes recordar que te ha pasado?&lt;/p&gt;&lt;p&gt;8. Cuál es tu lugar favorito en la Tierra?&lt;/p&gt;&lt;p&gt;9. Quiénes son las personas especiales en tu vida?&lt;/p&gt;&lt;p&gt;10.De qué estás orgulloso?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ABC_Mart&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language_he_she_speaks</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Spanish</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Customer_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
